<%= form_for(@orden_compra) do |f| %>
  <% if @orden_compra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orden_compra.errors.count, "error") %> prohibited this orden_compra from being saved:</h2>

      <ul>
      <% @orden_compra.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero %><br>
    <%= f.number_field :numero %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :costo_total %><br>
    <%= f.text_field :costo_total %>
  </div>
  <div class="field">
    <%= f.label :estado %><br>
    <%= f.text_field :estado %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :proveedor_id %><br>
    <%= f.number_field :proveedor_id %>
  </div>
  <div class="field">
    <%= f.label :pedido_cotizacion_id %><br>
    <%= f.number_field :pedido_cotizacion_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
