<div class="form-signin">
	<div class="panel panel-primary">
		<div class="panel-body">
			<h3 class="text-center">Registrarse</h3>
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  				<%= devise_error_messages! %>
				<div class="input-group input-group-lg">
		  			<span class="input-group-addon">
		  				<i class="icon-envelope"></i>
		  			</span>
		  			<%=	f.text_field :username, placeholder: 'Email', class: 'form-control input-lg'%>
		  		</div>

				<div class="input-group input-group-lg">
				  	<span class="input-group-addon">
				  		<i class="icon-key"></i>
				  	</span>
				  	<%=	f.password_field :password, placeholder: 'Contrase침a', class: 'form-control input-lg'%>
				</div>

				<div class="input-group input-group-lg">
				  	<span class="input-group-addon">
				  		<i class="icon-key"></i>
				  	</span>
				  	<%=	f.password_field :password_confirmation, placeholder: 'Confirmar Contrase침a',class: 'form-control input-lg'%>
				</div>

		  <%= link_to "Olvid칩 su contrase침a?", new_password_path(resource_name), class: 'pull-right' %><br />

		  <%= f.submit "Registrarse", class: 'btn btn-lg btn-primary btn-block' %>
		<% end %>

		<%= link_to "Ingresar", new_session_path(resource_name) %>
		</div>
	</div>
</div>
