<h1>Listing componentes</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Numero serie</th>
      <th>Costo</th>
      <th>Marca</th>
      <th>Componente categoria</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @componentes.each do |componente| %>
      <tr>
        <td><%= componente.nombre %></td>
        <td><%= componente.numero_serie %></td>
        <td><%= componente.costo %></td>
        <td><%= componente.marca_id %></td>
        <td><%= componente.componente_categoria_id %></td>
        <td><%= link_to 'Show', componente %></td>
        <td><%= link_to 'Edit', edit_componente_path(componente) %></td>
        <td><%= link_to 'Destroy', componente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Componente', new_componente_path %>
