<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @componente.nombre %>
</p>

<p>
  <strong>Numero serie:</strong>
  <%= @componente.numero_serie %>
</p>

<p>
  <strong>Costo:</strong>
  <%= @componente.costo %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @componente.marca_id %>
</p>

<p>
  <strong>Componente categoria:</strong>
  <%= @componente.componente_categoria_id %>
</p>

<%= link_to 'Edit', edit_componente_path(@componente) %> |
<%= link_to 'Back', componentes_path %>
