<h1>Listing configuraciones</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Imagen</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @configuraciones.each do |configuracion| %>
      <tr>
        <td><%= configuracion.nombre %></td>
        <td><%= configuracion.direccion %></td>
        <td><%= configuracion.imagen %></td>
        <td><%= link_to 'Show', configuracion %></td>
        <td><%= link_to 'Edit', edit_configuracion_path(configuracion) %></td>
        <td><%= link_to 'Destroy', configuracion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Configuracion', new_configuracion_path %>
