<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @configuracion.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @configuracion.direccion %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @configuracion.imagen %>
</p>

<%= link_to 'Edit', edit_configuracion_path(@configuracion) %> |
<%= link_to 'Back', configuraciones_path %>
