<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :mark%><br />
    <%= f.text_field :mark %>
    <%#= f.collection_select :serie_id, Serie.all, :id, :nombre %>
  </div>
  <div class="field">
    <%= f.label :sistema_operativo_id %><br />
    <%#= f.number_field :sistema_operativo_id %>
    <%= f.collection_select :sistema_operativo_id, SistemaOperativo.all, :id, :nombre %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :fecha_lanzamiento %><br />
    <%= f.date_select :fecha_lanzamiento %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
