<h1>Listing componentes_categorias</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @componentes_categorias.each do |componente_categoria| %>
      <tr>
        <td><%= componente_categoria.nombre %></td>
        <td><%= link_to 'Show', componente_categoria %></td>
        <td><%= link_to 'Edit', edit_componente_categoria_path(componente_categoria) %></td>
        <td><%= link_to 'Destroy', componente_categoria, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Componente categoria', new_componente_categoria_path %>
