<!DOCTYPE html>
<html>
<head>
  <title>Sg</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if user_signed_in? %>
    	<%= render 'layouts/menu'%>
    <% end %>

	<div id="wrapper" class="container">
		<div class="container">
	    	<% if notice %>
				<div class="alert alert-info">
					<button data-dismiss="alert" class="close" type="button">×</button>
					<%= notice %>
				</div>
			<% end %>
			<% if alert %>
				<div class="alert alert-error alert-warning">
					<button data-dismiss="alert" class="close" type="button">×</button>
					<%= alert %>
				</div>
			<% end %>
		</div>
		<%= yield %>
	</div>

<div id="add-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</body>
</html>
