<!DOCTYPE html>
<html>
<head>
  <title>Sg</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	        	
    <% if user_signed_in? %>
    	Usuario Actual: <%= current_user.email %>
    	<%= link_to "Salir", destroy_user_session_path, method: :delete %>    			
    <% end %>	            
           
        
    <div class="container">
    	<% if notice %>
			<div class="alert alert-info">
				<button data-dismiss="alert" class="close" type="button">×</button>
				<%= notice %>
			</div>
		<% end %>
		<% if alert %>
			<div class="alert alert-error alert-warning">
				<button data-dismiss="alert" class="close" type="button">×</button>	
				<%= alert %>
			</div>
		<% end %>    
   	</div> 
    			
	<%= yield %>   
	
</body>
</html>